<md-card class="todo-card">
    <md-card-title>Task Manager</md-card-title>
    <md-card-content>
        <div class="task-form">
            <md-input-container>
                <input type="text" mdInput [(ngModel)]="taskname" required placeholder="Task Name">
            </md-input-container>
            <button md-button color="primary" (click)="taskname ?addTask(taskname):'';taskname = ''">Add</button>
            <button md-button  (click)="loginWithGoogle()">LoginWithgoogle</button>
        </div>
        <div class="task-list">
            <md-list>
                <md-list-item *ngFor="let task of taskList | values; trackBy trackByFn" (click)="task.completed = !task.completed;updateTask(task)">
                    <md-checkbox [checked]="task.completed"></md-checkbox>
                    <span class="taskname">{{task.name}}</span>
                    <button md-icon-button (click)="deleteTask(task.id); $event.stopPropagation()">
                        <i class="material-icons">delete</i>
                    </button>
                </md-list-item>
            </md-list>
        </div>
    </md-card-content>
</md-card>